h1, h2, h3, h4, h5, h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-transform: uppercase;
}
h2{
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
}
h3{
    font-size: .8rem;
}
h4{
    font-size: .7rem;
}
h5{
    font-size: .6rem;
}
h6{
    font-size: .5rem;
}
p{
    margin-bottom: 3rem
}